#destinations h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    color: #088ba3;
}

.descriptif {
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 1rem;
    color: #000000;
    box-shadow: inset 0px 0px 4px 1px #fffdfd;
    border-radius: 20px;
}

#destinations section h3 {
    width: 70%;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
    color: #000000;
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 4px 1px #fffdfd;
    border-radius: 20px;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem auto;
}

#destinations .images img{
max-width: 300px;
height: 250px;
border-radius: 20px;
padding: 0.2rem;
object-fit: cover;
}

#destinations .images{
width: 100%;
display: flex;
justify-content: center;
}

 #destinations .images img::after{
    content: '';
    position: absolute;
    left: 1rem;
    top: 100%;
    width:120px;
    height: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#destinations .images:hover img::after{
    content: ' Italie ';
    background-color: #b8f4ff;
    padding: 0.5rem;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    border-radius: 4px;
    opacity: 1;
    z-index: 1;
    line-height: 1rem;
    cursor: pointer;
}


header .pays p i::after {
    content: '';
    position: absolute;
    left: 1rem;
    top: 100%;
    width:115px;
    height: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

header .pays p:hover i::after {
    content: ' choisir un pays';
    background-color: #b8f4ff;
    padding: 0.5rem;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    border-radius: 4px;
    opacity: 1;
    z-index: 1;
    line-height: 1rem;
}

/* /*********************************************************************************** #media queries ***********************/

@media screen and (max-width: 768px) {
    #destinations section{
        width: 100%;
    }
    #destinations h1 {
        font-size: 2rem;
    }

    .descriptif {
        font-size: 1rem;
        padding: 0.5rem;
    }

    #destinations section h3 {
        font-size: 1.5rem;
        padding: 0.3rem;
    }

    #destinations .images img {
        margin-left: 1rem;
        height: 150px;
    }
    
    .descriptif {
        width: 90%;
        font-size: 0.9rem;
    }
}


