/*************************************************Pop-Up****************************************************/

 /* Fond semi-transparent couvrant tout l'écran */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Affichage de la pop-up */
.popup-overlay.active {
  display: flex;
}

/* Contenu de la pop-up avec animation */
.popup-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  position: relative;
  min-width: 300px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  text-align: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s, transform 0.4s;
  background-color:rgb(227, 230, 230);
}

/* Animation d'apparition */
.popup-overlay.active .popup-content {
  opacity: 1;
  transform: scale(1);
}

/* Bouton de fermeture */
.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #888;
}
.close-btn:hover {
  color: #e74c3c;
}

/*-------------------ENDPOP UP -------------------------*/

/*--------------------------Pop Up suite-------------------------------*/

.box {
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset -2px -6px 5px 1px black;
}

.box-inscription{
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset -2px -6px 5px 1px black;
  background-color:#088ba3;
  position: relative;
}
.colorReduc{
  color: #088ba3;
}

.colorButton{
  background-color: #4db5c8;
}

.offre{
  color:#088ba3;
  font-weight:bolder;
  text-align: justify;
}

.text-align{
  text-align: justify;
}

.text-align2{
  text-align: justify;
  padding-top: 4%;
  margin-bottom: 5%;
}

.inputName{
  width: 40%;
}

.inputMail{
width: 59%;
}

.mail-margin{
  margin-bottom: 5%;
}

.popup-logo{
  width: 30%;
  position: absolute;
  top: 270px;
  left: 200px;
}

/*--------------------------End Pop Up suite-------------------------------*/



.titleCountry{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  padding-top: 40px;
  padding-bottom: 20px;
  color:#088ba3;

}

.menuTop{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -50px;
}

.menuTop p {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset -2px -6px 5px 1px #088ba3;
}

.descriptif{
  text-align: center;
  margin-top: -40px;
}

.section {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: white(198, 235, 241);
  border-radius: 8px;
  text-align: center;
}

.section img {
  max-width: 100%;
  border-radius: 5px;
}

.petit-texte {
  font-size: 14px;
  color: #555;
}



/***********************************************Checkbox 1*************************************************/
.toggle-desc {
  display: none;
}

.arrow-container {
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
}

.weightLabel{
  font-weight: lighter;
}

.arrow-down {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  transition: transform 0.3s;
}

.description-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e3f1f3;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}

.textBoxBlack{
  color: #111;
  font-size:x-large;
  font-weight: bold;
}

/* Quand le checkbox est coché */
.toggle-desc:checked ~ .description-box {
  max-height: 5000px; /*Ajuste selon le contenu */
  padding: 15px;
}

.toggle-desc:checked ~ .arrow-container .arrow-down {
 /*transform: rotate(180deg);*/
 transform: scale(1.5); /*agrandit la fleche et le texte*/
}

.descriptifTitle{
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.bold{
  font-weight: bold;
  text-transform:uppercase;
}

/*********************************************Checkbox 2***************************************/
.toggle-desc2 {
  display: none;
}

.arrow-container2 {
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
}

.arrow-down2 {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  transition: transform 0.3s;
}

.description-box2 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e3f1f3;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}

.textBoxBlack2{
  color: #111;
  font-size:x-large;
  font-weight: bold;
}

/* Quand le checkbox est coché */
.toggle-desc2:checked ~ .description-box2 {
  max-height: 2500px; /*Ajuste selon le contenu */
  padding: 15px;
}

.toggle-desc2:checked ~ .arrow-container2 .arrow-down2 {
 /*transform: rotate(180deg);*/
 transform: scale(1.5); /*agrandit la fleche et le texte*/
}

/*******************************************************Checkbox 3*********************************************************/
.toggle-desc3 {
  display: none;
}

.arrow-container3 {
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
}

.arrow-down3 {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  transition: transform 0.3s;
}

.description-box3 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e3f1f3;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}

.textBoxBlack3{
  color: #111;
  font-size:x-large;
  font-weight: bold;
}

/* Quand le checkbox est coché */
.toggle-desc3:checked ~ .description-box3 {
  max-height: 4000px; /*Ajuste selon le contenu */
  padding: 15px;
}

.toggle-desc3:checked ~ .arrow-container3 .arrow-down3 {
 /*transform: rotate(180deg);*/
 transform: scale(1.5); /*agrandit la fleche et le texte*/
}

/**********************************************************Checkbox 4********************************************************/
.toggle-desc4 {
  display: none;
}

.arrow-container4 {
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
}

.arrow-down4 {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  transition: transform 0.3s;
}

.description-box4 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e3f1f3;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}

.textBoxBlack4{
  color: #111;
  font-size:x-large;
  font-weight: bold;
}

/* Quand le checkbox est coché */
.toggle-desc4:checked ~ .description-box4 {
  max-height: 2500px; /*Ajuste selon le contenu */
  padding: 15px;
}

.toggle-desc4:checked ~ .arrow-container4 .arrow-down4 {
 /*transform: rotate(180deg);*/
 transform: scale(1.5); /*agrandit la fleche et le texte*/
}

/********************************************************Checkbox 5***************************************************/
.toggle-desc5 {
  display: none;
}

.arrow-container5 {
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

.arrow-down5 {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  transition: transform 0.3s;
}

.description-box5 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e3f1f3;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}

.textBoxBlack5{
  color: #111;
  font-size:x-large;
  font-weight: bold;
}

/* Quand le checkbox est coché */
.toggle-desc5:checked ~ .description-box5 {
  max-height: 4000px; /*Ajuste selon le contenu */
  padding: 15px;
}

.toggle-desc5:checked ~ .arrow-container5 .arrow-down5 {
 /*transform: rotate(180deg);*/
 transform: scale(1.5); /*agrandit la fleche et le texte*/
}


/******************************************************carrousel 3d automatique********************************************/
*{box-sizing : border-box}
img{max-width:100%}
.contenu_carou_auto{
margin:1rem auto;
width:420px;
height:279px;
perspective:8000px;
	}
.caroussel-image{
animation:rotation 45s infinite alternate linear;	
transform-style:preserve-3d;
position:relative;
margin-top: 100px;	
}
.caroussel-image img{
position: absolute;
top:0;
left: 0;
	}
.caroussel-image img{
filter:drop-shadow(0 12px 5px hsla(0,0%,0%,.4));
width:400px;
height:200px;
left:10px;
outline:1px solid transparent;
backface-visibility:hidden
	}
.caroussel-image img:nth-child(1){
transform:translate3d(0,0,550px)
		}
.caroussel-image img:nth-child(2){
transform:rotateY(45deg) translateZ(550px)
		}
.caroussel-image img:nth-child(3){
	transform:rotateY(90deg) translateZ(550px)
	}
.caroussel-image img:nth-child(4){
	transform:rotateY(135deg) translateZ(550px)
	}
.caroussel-image img:nth-child(5){
	transform:rotateY(180deg) translateZ(550px)
	}
.caroussel-image img:nth-child(6){
	transform:rotateY(225deg) translateZ(550px)
	}
.caroussel-image img:nth-child(7){
	transform:rotateY(270deg) translateZ(550px)
	}
.caroussel-image img:nth-child(8){
	transform:rotateY(315deg) translateZ(550px)
	}
  .caroussel-image img:nth-child(9){
	transform:rotateY(225deg) translateZ(550px)
	}
.caroussel-image img:nth-child(10){
	transform:rotateY(270deg) translateZ(550px)
	}
.caroussel-image img:nth-child(11){
	transform:rotateY(315deg) translateZ(550px)
	}
  .caroussel-image img:nth-child(12){
	transform:rotateY(135deg) translateZ(550px)
	}
.caroussel-image img:nth-child(13){
	transform:rotateY(180deg) translateZ(550px)
	}
.caroussel-image img:nth-child(14){
	transform:rotateY(225deg) translateZ(550px)
	}
.caroussel-image img:nth-child(15){
	transform:rotateY(270deg) translateZ(550px)
	}
.caroussel-image img:nth-child(16){
	transform:rotateY(315deg) translateZ(550px)
	}
  .caroussel-image img:nth-child(17){
	transform:rotateY(225deg) translateZ(550px)
	}
.caroussel-image img:nth-child(18){
	transform:rotateY(270deg) translateZ(550px)
	}
.caroussel-image img:nth-child(19){
	transform:rotateY(315deg) translateZ(550px)
	}

@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(0.5turn)}}
/*****fin carrousel 3d automatique*****/

/************************************************* Responsive Design ********************************/

/**Tablette**/
@media (max-width: 768px) {

.titleCountry{
   font-size:medium;
   padding-top: 130px; 
}

.menuTop p {
  font-size:x-small;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: inset -2px -6px 5px 1px #4cddf7;
}

.textBoxBlack{
  font-size: large;
}

.descriptifTitle{
  font-size: small;
  padding-top: 2%;
}
 
}


/**Mobile**/
@media screen {max-width: 380px;

.titleCountry{
   font-size:medium;
   padding-top: 130px; 
}

.textBoxBlack{
  font-size: medium;
}

.descriptifTitle{
  font-size: smaller;
  padding-top: 2%;
}

}




