*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff0606;
    color: #ffffff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
}

header h1 {
    margin: 0;
}
header nav.burger {
    display: none; /* Cacher le menu burger par défaut */
}

header img.logo-image{
    display: none;
}

header nav.menu ul {
    display: flex;
    list-style: none;
}

header nav.menu ul li {
    margin: 0 0.5rem;
}

header a {
    font-size: 1.1rem;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline-block; 
    padding-bottom: 1px; /* espace pour la bordure */
}

header nav.menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

header nav ul li a:hover::after {
    transform: scaleX(1);
}

header .fa-phone {
    margin-right: 0.5rem;
    color: #4400e2;
    font-size: 14px;
}

header .reservation {
    font-size: 0.9rem;
}

/* #region footer */
.footer{ 
    background-color: rgb(225, 222, 222);
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1.5px solid #ccc;
    padding-top: 25px;
    padding-bottom: 25px;
    
    
}

footer li{
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
}


footer a{
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
}

.footer-paragraph h3{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.mentions-legales{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 0.8rem;
    padding-top: 15px;
    color: grey;
}

.logo-footer{
    margin: 0 auto;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.logo-image{
    width: 250px;
    height: 250px;
}

/************************************************* Responsive Design ********************************/

@media (max-width: 768px) {
    header h1 {
        display: none;
    }
    
    header img.logo-image {
        display: block;
    }

    header nav.burger {
        display: block; /* Afficher le menu burger */
    }

    header .menu {
        display: none; 
    }
    
    header nav ul {
        flex-direction: column;
        margin-right: 0;
    }
    header .pays {
        display: none;
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .mentions-legales {
        flex-direction: column;
        align-items: center;
    }
}